@{
   ViewData["Title"] = "Calculadora";
}

<div class="text-center">
   <h1 class="display-4">Calculadora</h1>


   <form method="post">

      <!--  adicionar o efeito de 'memória' ao HTTP -->
      <input type="hidden" value="@ViewBag.PrimeiroOperando" name="primeiroOperando" />
      <input type="hidden" value="@ViewBag.Operador" name="operador" />
      <input type="hidden" value="@ViewBag.LimpaVisor" name="limpaVisor" />


      <table border="1">
         <tr>
            <td colspan="5">
               <input type="text" readonly="readonly" value="@ViewBag.Visor" name="visor" />
            </td>
         </tr>
         <tr>
            <td>
               <input type="submit" value="7" name="bt" class="btn" />
            </td>
            <td>
               <input type="submit" value="8" name="bt" class="btn" />
            </td>
            <td>
               <input type="submit" value="9" name="bt" class="btn" />
            </td>
            <td>
               <input type="submit" value=":" name="bt" class="btn" />
            </td>
            <td>
               <input type="submit" value="+/-" name="bt" class="btn" />
            </td>
         </tr>
         <tr>
            <td>
               <input type="submit" value="4" name="bt" class="btn" />
            </td>
            <td>
               <input type="submit" value="5" name="bt" class="btn" />
            </td>
            <td>
               <input type="submit" value="6" name="bt" class="btn" />
            </td>
            <td>
               <input type="submit" value="x" name="bt" class="btn" />
            </td>
            <td>
               <input type="submit" value="C" name="bt" class="btn" />
            </td>
         </tr>
         <tr>
            <td>
               <input type="submit" value="1" name="bt" class="btn" />
            </td>
            <td>
               <input type="submit" value="2" name="bt" class="btn" />
            </td>
            <td>
               <input type="submit" value="3" name="bt" class="btn" />
            </td>
            <td>
               <input type="submit" value="-" name="bt" class="btn" />
            </td>
            <td rowspan="2">
               <input type="submit" value="=" name="bt" class="btn" />
            </td>
         </tr>
         <tr>
            <td colspan="2">
               <input type="submit" value="0" name="bt" class="btn" />
            </td>
            <td>
               <input type="submit" value="," name="bt" class="btn" />
            </td>
            <td>
               <input type="submit" value="+" name="bt" class="btn" />
            </td>
         </tr>
      </table>

   </form>

</div>
